div(class='row')
 .col-sm-12
  h1.page-header 404: Page not found
 .col-sm-1.text-center.hidden-sm.hidden-xs
  i.fa.fa-cogs.fa-5x
 .col-sm-10
  p Sorry, but the page you are looking for could not be found
  p Try checking the URL for errors, then hit the refresh button on your browser.
  a(href='/') Back to home page.
