div(class='row.placeholders')
 .col-xs-6.col-sm-3.placeholder
   i.fa.fa-lightbulb-o.fa-5x
   h4 Lighting
   span.text-muted Lighting schedule
 .col-xs-6.col-sm-3.placeholder
   i.fa.fa-tint.fa-5x
   h4 Watering
   span.text-muted Watering &amp; humidity
 .col-xs-6.col-sm-3.placeholder
   i.fa.fa-camera.fa-5x
   h4 Watch
   span.text-muted Live stream  
 .col-xs-6.col-sm-3.placeholder
   i.fa.fa-folder-open.fa-5x
   h4 Temperature
   span.text-muted Temperature
