h1.page-header Logs

div(ng-controller='LogsDisplayController')
 div(class='row placeholder')
  .col-xs-6.col-sm-3.col-md-1.placeholder 
   h2 Temperature
 div(class='row placeholder')
  .col-xs-6.col-sm-3.col-md-12.placeholder
  div(data-ac-chart="'line'" data-ac-data="data" data-ac-config="config" style="widht:100%;height:300px;")
 div(class='row placeholder')
 
  .col-xs-6.col-sm-3.col-md-2.placeholder
   a(href='' ng-click='moveChartLeft()') 
    i.fa.fa-arrow-left 

  .col-xs-6.col-sm-3.col-md-2.placeholder
  .col-xs-6.col-sm-3.col-md-2.placeholder
   a(href='' ng-click='zoomChartOut()' ng-show='DisplayZoomOut') 
    i.fa.fa-search-minus
   &nbsp;&nbsp; {{timeSpan}} &nbsp;&nbsp;
   a(href='' ng-click='zoomChartIn()' ng-show='DisplayZoomIn') 
    i.fa.fa-search-plus

  .col-xs-6.col-sm-3.col-md-2.placeholder
  .col-xs-6.col-sm-3.col-md-2.placeholder
   a(href='' 'moveChartRight()' ) 
    .fa.fa-arrow-right
  
