h1.page-header Logs

div(ng-controller='ChartDisplayController')
 div(class='row placeholder')
  .col-xs-6.col-sm-3.col-md-1.placeholder 
   h2 Temperature
 div(class='row placeholder')
  .col-xs-6.col-sm-3.col-md-12.placeholder
   div(data-ac-chart="'line'" data-ac-data="data" data-ac-config="config" style="width:100%;height:300px;")
 div(class='row placeholder')
 
  .col-xs-6.col-sm-3.col-md-2.placeholder
   a(href='' ng-click='moveChart("left")') 
    i.fa.fa-arrow-left 

  .col-xs-6.col-sm-3.col-md-2.placeholder
  .col-xs-6.col-sm-3.col-md-2.placeholder
   a(href='' ng-click='zoomChart("out")' ng-show='DisplayZoomOut') 
    i.fa.fa-search-minus
   &nbsp;&nbsp; {{zoomLevel}} &nbsp;&nbsp;
   a(href='' ng-click='zoomChart("in")' ng-show='DisplayZoomIn') 
    i.fa.fa-search-plus

  .col-xs-6.col-sm-3.col-md-2.placeholder
  .col-xs-6.col-sm-3.col-md-2.placeholder
   a(href='' ng-click='moveChart("right")' ) 
    .fa.fa-arrow-right
 div(class='row placeholder')
  .col-xs-6.col-sm-3.col-md-12.placeholder.
   start: {{startDate| date:"HH:MM:ss, dd-mm-yyyy"}}
   end:{{endDate| date:"HH:MM:ss, dd-mm-yyyy"}}
 div(class='row placeholder')
  .col-xs-6.col-sm-3.col-md-1.placeholder 
   h2 LightSwitch
 div(class='row placeholder')
  .col-xs-6.col-sm-3.col-md-12.placeholder
   div(lightswitchlog logdata="lightSwitchLogData")
