div(ng-controller='GaugeController', class='row.placeholders')
 .col-xs-12.col-md-10.placeholder.text-center
  div(style='background-color:green; height:500px; width:100%; font-size:5em') Live Stream Placeholder
 .col-xs-12.col-md-2.placeholder.text-center
   canvas#gauge1(width='200', height='200')
   canvas#gauge2(width='200', height='200')
div(class='row.placeholders')
 .clearfix.hidden-xs(style='margin-bottom:25px')
 .col-xs-6.col-sm-3.placeholder.text-center
   i.fa.fa-lightbulb-o.fa-5x
   h4 Lighting
   span.text-muted Lighting schedule
 .col-xs-6.col-sm-3.placeholder.text-center
   i.fa.fa-tint.fa-5x
   h4 Watering
   span.text-muted Watering &amp; humidity
 .col-xs-6.col-sm-3.placeholder.text-center
   i.fa.fa-camera.fa-5x
   h4 Watch
   span.text-muted Live stream  
 .col-xs-6.col-sm-3.placeholder.text-center
   i.fa.fa-folder-open.fa-5x
   h4 Temperature
   span.text-muted Temperature